.search-section-main-div {
    height: calc(100vh - 20px);
    padding: 10px;
}
.search-area {
    text-align: center;
}
.app-label {
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
}
.example {
    margin-top: 15px;
}
.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 30%;
}
.example button {
    width: 5%;
    padding: 10px;
    background: #0052cc;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    opacity: 0.9;
}
.show-searched-list {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
}
.show-total {
    font-size: 18px;
    text-align: left;
    span {
        font-weight: bold;
    }
}
.show-message {
    font-size: 16px;
    span {
        font-weight: bold;
    }
}
.print-details-section {
    border: 1px solid #000;
    width: 100%;
    margin-top: 15px;
    padding: 0px;
    background-color: #ffffff;
    thead {
        tr {
            background-color: #f2f2f25c;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            :nth-child(1) {
                width: 10%;
                padding: 8px;
                border-right: 1px solid #000;
            }
            :nth-child(2) {
                width: 20%;
                padding: 8px;
                border-right: 1px solid #000;
            }
            :nth-child(3) {
                width: 30%;
                padding: 8px;
                border-right: 1px solid #000;
            }
            :nth-child(4) {
                width: 40%;
                padding: 8px;
            }
        }
    }
    tbody {
        width: 100%;
        tr:hover{
            background-color: #f2f2f25c;
            cursor: pointer;
        }
        tr {
            width: 100%;
            text-transform: capitalize;
            :nth-child(1) {
                border-right: 1px solid #000;
                border-top: 1px solid #000;
            }
            :nth-child(2) {
                border-right: 1px solid #000;
                border-top: 1px solid #000;
            }
            :nth-child(3) {
                border-right: 1px solid #000;
                border-top: 1px solid #000;
            }
            :nth-child(4) {
                border-top: 1px solid #000;
                text-align: left;
                padding-left: 20px;
            }
            img {
                height: 40px;
                width: 40px;
                border-radius: 50px;
            }
        }
    }
}
.profile-view-selected{
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    margin-top: 10px;
    display: flex;
    padding: 20px;
    .image-view{
        width: 25%;
        img{
            height: 110px;
            width: 110px;
            border-radius: 50px;
        }
    }
    .person-details{
        font-size: 15px;
        text-align: left;
        width: 70%;
        p{
            padding-top: 5px;
        }
        span{
            font-weight: bold;
            font-size: 16px;
        }
        .listed-data{
            padding-top: 10px;
        }
        .button-section{
            display: inline;
            margin-top: 10px;
            button{
                height: 40px;
                color: #ffffff;
                background-color: #0052CC;
                border: 1px solid #0052CC;
                margin: 2px;
                cursor: pointer;
            }
        }
    }
    .star-rating{
        width: 5%;
        color: gold;
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .example input[type="text"] {
        width: 70%;
        padding: 7px;
    }
    .example button {
        width: 12%;
        padding: 7px;
    }
    .show-searched-list{
        width: 80%;
    }
}
@media only screen and (max-width: 800px) {
    .profile-view-selected{
        display: contents;
    }
}
@media only screen and (min-width: 600px) {
    .example input[type="text"] {
        width: 60%;
        padding: 8px;
    }
    .example button {
        width: 9%;
        padding: 8px;
    }
}
@media only screen and (min-width: 1000px) {
    .example input[type="text"] {
        width: 30%;
        padding: 9px;
    }
    .example button {
        width: 5%;
        padding: 9px;
    }
}
@media only screen and (min-width: 1300px) {
    .example input[type="text"] {
        width: 30%;
        padding: 10px;
    }
    .example button {
        width: 5%;
        padding: 10px;
    }
}
@media only screen and (max-width: 380px) {
    .example input[type="text"] {
        width: 70%;
        padding: 7px;
    }
    .example button {
        width: 13%;
        padding: 7px;
    }
    .show-searched-list{
        width: 96%;
    }
    .profile-view-selected{
        display: contents;
    }
}
